@page "/edit-game"
@page "/edit-game/{id:int}"

@inject NavigationManager NavigationManager
@inject GamesClient GamesClient
@inject GenresClient GenresClient

<PageTitle>@Title</PageTitle>
<h3>@Title</h3>

@if (_genres is null || Game is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <EditForm Model="@Game" FormName="editGame" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator/>

                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText class="form-control" id="name" @bind-value="Game.Name"/>
                    <ValidationMessage For="@(() => Game.Name)"/>
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label">Genre:</label>
                    <InputSelect class="form-control" id="genre" @bind-value="Game.GenreId">
                        <option value="">Select a Genre</option>
                        @foreach (var genre in _genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber step=".01" class="form-control" id="price" @bind-value="Game.Price"/>
                    <ValidationMessage For="@(() => Game.Price)"/>
                </div>
                <div class="mb-3">
                    <label for="releaseDate" class="form-label">Release Date:</label>
                    <InputDate class="form-control" id="releaseDate" @bind-value="Game.ReleaseDate"/>
                </div>

                <div class="mb-3">
                    <ValidationSummary/>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <a role="button" class="btn btn-secondary" href="/">Cancel</a>
            </EditForm>
        </div>
    </div>
}


@code {
    [Parameter] public int? Id { get; set; }

    [SupplyParameterFromForm] private GameDetails? Game { get; set; }

    public string? Title { get; set; }

    private Genre[]? _genres;

    protected override void OnParametersSet()
    {
        if (Game is not null) return;

        if (Id is not null)
        {
            Game = GamesClient.GetGameById(Id.Value);
            Title = $"Editing {Game.Name}";
        }
        else
        {
            Game = new GameDetails
            {
                Name = ""
            };
            Title = "Add New Game";
        }

        base.OnParametersSet();
    }

    protected override void OnInitialized()
    {
        _genres = GenresClient.GetGenres();
        base.OnInitialized();
    }

    private void HandleSubmit()
    {
        if (Game is null) return;

        if (Id is null)
        {
            GamesClient.AddGame(Game);
        }
        else
        {
            Game.Id = Id.Value;
            GamesClient.UpdateGame(Game);
        }

        NavigationManager.NavigateTo("/");
    }

}
